@import "../foundation.css";
@import "../foundation.min.css";
@import "../normalize.css";





@import url(http://fonts.googleapis.com/css?family=Raleway:400,800);

$brand-color: #FEFAF3;

body{background: rgba( $brand-color, 0.5 );}

html {
	font: 100%/1.5em 'Palatino Linotype', serif;
}

body {
	font-size: 1em; /* 16px / 16px */
	color: #353738;
}

hr {
	margin: 1em 0;
	height: 1px;
	background: #d3d3d3;
	border: none;
	width: 100%;
	clear: both;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div.band .columns {
	padding-top: 1em;
	padding-bottom: 1em;
}

header.band {
	background-image:url(../../images/Topofrock.JPG);
		background-size: 100%;
		-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
	color: white;
	text-align: center;
	padding: 10% 0 15% 0;
}
.band{
	min-width:100% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5rem;

    
}






h1, h2, h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-align: center;
}

header.band h1 {
    color:#FEFAF3;
	font-size: 6em;
	line-height: 1em;
	margin-bottom: 1em;
	
  
  text-align: center; 
}

h2 {
	font-size: 1.6em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

h3 {
	font-size: 1.1em;
	font-family: 'Palatino Linotype', serif;
	font-weight: 700;
	margin-bottom: 1em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

a.button {
	background: #e1e1e1;
	text-align: center;
	padding: .5em 1em;
	color: black;
	font-weight: bold;
	text-decoration: none;
	/*box-shadow: 0 0.2em 0 #AEA8A3;*/
	text-transform: uppercase;
	letter-spacing: 0.1em;
	border-style:solid;
    border-width:5px;
    border-color:#D9C4A7;
		
	/*transition cross-browser stuff*/
	-webkit-transition: background 0.2s ease-out;  /* Safari 3.2+, Chrome */
	-moz-transition: background 0.2s ease-out;  /* Firefox 4-15 */
	-o-transition: background 0.2s ease-out;  /* Opera 10.5Ð12.00 */
	transition: background 0.2s ease-out;  /* Firefox 16+, Opera 12.50+ */
}




a.button:hover {
	background: #D9C4A7;
}

footer {
	font-size: 0.8em;
	text-align: center;
}


#slideLeft{visibility: hidden;}

.last a {
	margin: 0 1em;	
}

.social-tuts {
	color: #E36316;
}

.social-dribbble {
	color: #c5376d;
}

.social-facebook {
	color: #3B5998;
}

/*as we don't haver many media queries, we'll stick them all here*/
@media only screen and (min-width: 767px) { 
	
	body {
		font-size: 1.125em; /* 18px / 16px */
		line-height: 1.7em;
	}
	
	div.band .columns {
		padding-top: 2em;
		padding-bottom: 2em;
	}

	header.band {
		background-image:url(../../images/Topofrock.JPG);
		background-size: 100%;
		-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;

	}
	
	header.band h1 {
		font-size: 4.5em; /*52 / 16*/
	}
	
	a.button {
		padding: .75em 1.5em;
	}
	
	footer {
		text-align: left;
	}

	.last {
		text-align: right;
	}

}

.nav { text-align: center; background-color:#EEE1D0;}

.sub-nav{ display: inline-block;}
.sub-nav a{margin:0 auto;
padding:0;
font-weight:bold;
font-family: 'Raleway', sans-serif;

}
dl.sub-nav a:hover{color:#BA9F88; 

}
@media only screen and (min-width: 768px) { 
header.band h1 {
		font-size: 5em; /*52 / 16*/
	}
}
@media only screen and (max-width: 768px) {
header.band h1 {
		font-size: 2.5em; /*52 / 16*/
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {


header.band h1 {
    
	font-size: 2em;
	}

.sub-nav a{font-size: 0.555rem;}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
header.band h1 {
    font-size: 2em;
	}
.sub-nav a{font-size: 0.555rem;}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
header.band h1 {
    font-size: 3.5em;
	}

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}



